/* General */

body {
  font-family: 'Times New Roman', times, serif;
  font-size: 100%;
}

i span {
  display: none;
}

h1 {
  max-width: 600px;
  font-size: 2em;
  font-style: italic;
  font-weight: 700;
  margin-left: 15%;
  margin-bottom: 20px;
  line-height: 1.1;
  color: #000;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;
}

date {
  display: block;
  margin-top: 10px;
  color: #666;
}

a {
	color: inherit;
	text-decoration: none;
}

a:visited {
	color:inherit;
}

/* Header */

header.top-bar-header {
  padding: 4px 15px 6px 15px;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #e2e2e2;
  /* box-shadow: 2px 2px 10px 1px #e2e2e2; */
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.search-menu {
  display: flex;
  justify-content: space-evenly;
}

.search-menu a, i {
  margin: 0 15px;
}

.nytimes-logo {
  width: 195px;
  height: 26px;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

button {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #326891;
  background-color: #6288a5;
  transition: ease 0.6s;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  padding: 8px 12px;
  margin: 0 5px;
}

button:hover {
  background-color: #326891;
  transition: ease 0.6s;
}

/* Main */

.main {
  margin: 120px auto 0 auto;
  width: 945px;
}

article.main-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-header {
  width: 100%;
}

/* Figure */
figure {
  width: 100%;
}

figure img.main-article-image {
  width: 945px;
  height: auto;
}

figcaption,
.g-sub {
  color: #666;
  font-size: 0.9rem;
  padding-top: 5px;
  line-height: 1.2rem;
}

.credits,
.small-grey-text {
  font-size: 0.8rem;
  color: #999;
  line-height: normal;
}

/* Subtitle and article information */
.article-information {
  font-size: 0.9rem;
  margin-top: 25px;
  display: flex;
  flex-flow: row wrap;
}

.article-information a {
  text-decoration: underline;
  text-decoration-color: #0003;
}

.article-information a:hover {
  text-decoration-color: #000;
}

.article-information + p {
  clear: both;
  padding-top: 20px;
}

.author {
  font-weight: bold;
  color: #000;
  margin-bottom: 0;
}

date.main-date{
  color: #000;
}

.social { 
  top: 0;
  font-size: 0.8rem;
  cursor: pointer;
}

.social li {
  display: inline-block;
  margin-left: 12px;
}

.social li:nth-child(-n+4):hover {
  background-color: #fff;
  border: 1.5px solid #eeeeef;
}

.social li:nth-child(n+5):hover {
  color: #eeeeef;
}

.social li:nth-child(-n+4) {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: #eeeeef;
  text-align: center;
  padding-top: 1px;
}

.social li:nth-child(n+5) {
  text-align: center;
  font-size: 1.5em;
  color: #666;
  padding-top: 6px;
} 

/* Story */

.story {
  width: 600px;
  margin: 0 auto 20px auto;
  line-height: 1.5em;
  color: #333333;
  font-size: 1.2rem;
}

.story p {
  margin-bottom: 20px;
}

.youtube-video {
  width: 600px;
  left: auto;
}

figure + p {
  margin-top: 30px;
}

figure.cosmos18 {
  width: 630px;
  left: -20px;;
}

figure.cosmos18 img {
  width: 100%;
}

/* Sections with aside */
.section-with-aside {
  display: flex;
  justify-content: space-between;
}

.story-with-aside {
  margin-right: 0;
  margin-left: 170px;
}

/* Asides */
aside {
  font-family: Arial, sans-serif;
  width: 130px;
  align-self: center;
}

.aside-title {
  font-size: 0.9rem;
}

.aside-content {
  line-height: 1.1rem;
  padding-left: 10px;
  border-left: 1px solid #9999;
}

aside p {
  font-size: 0.7rem;
  color: #666;
  margin-bottom: 10px;
}

aside img {
  width: 120px;
}
